* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  color: white;
  margin: 0.5em 0;
}

input {
  margin-bottom: 1em;
  padding: 8px 4px;
  font-size: 16px;
  width: 100%;
}

input::placeholder {
  font-size: 16px;
}

.modal {
  width: 800px;
  height: 600px;
  background-color: rgb(32, 32, 32);
  border: 6px solid white;
  margin: 0 auto;
  margin-top: 20em;
  border-radius: 16px;
  position: relative;
  z-index: 1;
  display: none;
}

.modal-flex {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.image {
  width: 40%;
  height: 60%;
}

.suit {
  width: 100%;
  height: 350px;
  border-radius: 8px;
}

.form {
  width: 50%;
  height: 100%;
  margin-top: 5em;
}

.modal.open {
  display: block;
}

.center {
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  padding: 50px 150px;
  border-radius: 64px;
  font-size: 40px;
  cursor: pointer;
}

.button:hover {
  background-color: #dddddd;
  transition: 0.2s ease;
}

.x {
  border-radius: 50%;
  width: 50px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: calc(100% - 70px);
}

.subscribe {
  position: relative;
  top: 10%;
  left: 35%;
  padding: 4px 32px;
  font-size: 32px;
  cursor: pointer;
  border-radius: 32px;
  margin-top: 1.5em;
}

.subscription-window {
  display: none;
}

.subscription-window.open {
  display: block;
}

.subscription-message {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.864);
  color: white;
  font-size: 28px;
  width: 75%;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 16px;
}

.error-message {
  display: none;
}

.error-message.open {
  display: inline-block;
}
